# === LangChain & LangGraph ===
langchain>=0.2.10
langchain-core>=0.2.10
langchain-community>=0.2.10
langchain-openai>=0.1.7
langgraph>=0.1.8

# === OpenAI API ===
openai>=1.35.0

# === HuggingFace / Chroma ===
langchain-huggingface>=0.0.3
langchain-chroma>=0.1.2
huggingface_hub>=0.23.0
chromadb>=0.5.5
faiss-cpu>=1.8.0
sentence-transformers>=2.7.0

# === Documents ===
pypdf>=4.0.0
python-docx>=1.0.0
unstructured>=0.13.0
tiktoken>=0.7.0      

# === Data ===
numpy>=1.26.0
pandas>=2.2.0

# === Web ===
fastapi>=0.111.0
uvicorn[standard]>=0.30.0

# === import ===
python-dotenv>=1.0.1


# === web crawling ===
playwright==1.47.0
beautifulsoup4==4.12.3
tldextract==5.1.2
python-dateutil==2.9.0.post0
tenacity==9.0.0

# pip install playwright 
# playwright install
